/03_manuscript_analysis/01_pathway_activities/figures
/03_manuscript_analysis/01_pathway_activities/results
/03_manuscript_analysis/02_gene_knockout/figures
/03_manuscript_analysis/02_gene_knockout/results
/03_manuscript_analysis/03_LGMD/figures
/03_manuscript_analysis/03_LGMD/results
/03_manuscript_analysis/04_IFN_response/figures
/03_manuscript_analysis/04_IFN_response/results
/data
/datasets
/models
/ontologies

